.weatherDetails {
  padding-top: 20px;
  width: 220px;
  margin: 240px auto 0 auto;

  border-top: 2px solid #7a7a7a;
  color: #ebebeb;

  letter-spacing: 1px;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
}

.whw {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .weatherDetails {
    width: 180px;
    letter-spacing: 0.2px;
  }

  .whw {
    font-size: 12px;
  }

  .title {
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 490px) {
  .weatherDetails {
    width: 300px;
    margin: 240px auto 0 auto;
    text-align: center;
  }

  .whw {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
  }
}
