.perHour {
  margin: 50px auto 0 auto;

  padding-top: 20px;
  width: 220px;

  border-top: 2px solid #7a7a7a;
  color: #ebebeb;

  letter-spacing: 1px;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
}

.whw {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.tempTime p {
  font-size: 14px;
}

@media screen and (max-width: 850px) {
  .perHour {
    width: 180px;
    letter-spacing: 0.2px;
  }

  .whw {
    font-size: 12px;
  }

  .title {
    font-size: 14px;
    font-weight: 500;
  }

  .tempTime p {
    font-size: 12px;
  }
}
