.cityName,
.cityDetails p {
  position: absolute;
  left: 160px;
}
.cityName {
  bottom: 150px;
  letter-spacing: 2px;
}

.cityDetails p {
  position: absolute;
  bottom: 140px;
  font-size: 12px;
  letter-spacing: 1px;
}

.degree {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;

  position: absolute;
  bottom: 100px;
  left: 55px;
}
