.container {
  max-width: 850px;
  margin: 40px auto;

  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.img {
  width: 100%;
  border-radius: 10px;
  max-height: 660px;
}

.weatherInfo {
  overflow-y: scroll;

  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  color: #000;

  width: 35%;
  max-height: 640px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 600px;
    margin: 50px auto;
    max-height: 630px;
  }
  .weatherInfo {
    padding: 20px;
  }
}
