.container {
  max-width: 850px;
  margin: 40px auto;

  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.img {
  width: 100%;
  border-radius: 10px;
  max-height: 660px;
}

.weatherInfo {
  overflow-y: scroll;

  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  color: #000;

  width: 35%;
  height: 640px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 550px;
  }
}

@media screen and (max-width: 490px) {
  body {
    background-image: none !important;
  }
  .img {
    border-radius: 0;
    width: 430px;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    max-height: 630px;
    overflow: visible;
  }
  .weatherInfo {
    border-radius: 0;
    padding: 20px;
    width: 370px;
    background-color: #47505c;
    position: static;
  }
}
